.myContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
}

#myDiv{
    padding: 20px;
    background-color: rgb(8, 128, 54);
    font-size: 18px;
    text-align: center;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: rgb(196, 60, 87);
}